:root {
  /* COLOR */
  --sidebar-bg-color: #363740;
  --white-color: #ffffff;
  --green-color: #10cd45;
  --pale-grey-color: #eef2f5;
  --light-grey-color: #c5c7cd;
  --light-green-color: #00ca39;
  --pink-color: #e44067;
  --text-dark-color: #414141;
  --text-light-color: #a4a6b3;
  --text-black-color: #000000;
  --card-hover-bg-color: #3751ff;
  --dashbord-menu-hover-color: #9fa2b4;
  --red-color: #f12b2c;
  --pale-green-color: #29cc97;
  --yellow-color: #fec400;
  --main-text-color: #252733;
  /* FONTS */
  --main-font: "Lato", sans-serif;
  --dashbord-menu-link-font: "Mulish", sans-serif;
}
.wrapper {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  color: var(--white-color);
  width: 100%;
  max-width: 255px;
}
.main {
  background-color: var(--green-color);
  width: 100%;
}
